blockquote {
    zoom: 1;
}
ul li.separator {
    margin-top: -28px !important;
}
div#logo-svg {
    display: none;
}
.background-cover {
    background-size: cover;
    -ms-behavior: url(/backgroundsize.min.htc);
}
div#hero-wrapper-tiny {
    height: 300px !important;
}

