<!-- Footer -->
<footer class="pull-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <nav id="products" class="col-sm-2 footer-menu">
            <h2><a href="#">Lang</a></h2>
            <ul id="menu-lang">
              {{ if .IsPage }}
              <li><a href="/pages/es/{{ .Slug }}/" title="esp">Español</a></li>
              <li><a href="/pages/en/{{ .Slug }}/" title="ing">English</a></li>
              {{ else }}
              <li><a href="/pages/es/home/" title="esp">Español</a></li>
              <li><a href="/pages/en/home/" title="ing">English</a></li>
              {{ end }}
            </ul>
          </nav>
          <nav id="uses" class="col-sm-4 footer-menu">
            <h2><a href="#">Solutions</a></h2>
            <ul id="menu-uses">
              <li><a href="#" title="Solution1">Solution1</a></li>
              <li><a href="#" title="Solution2">Solution2</a></li>
              <li><a href="#" title="Solution3">Solution3</a></li>
              <li><a href="#" title="Solution4">Solution4</a></li>
            </ul>
          </nav>
          {{ if eq (index .Params "lang") "es" }}
            {{ range .Site.Menus.es_menu }}
              <nav id="about" class="col-sm-2 footer-menu">
                <h2><a href="/pages/es/{{ .Url }}/">{{ .Name }}</a></h2>
              </nav>
            {{ end }}
          {{ else }}
            {{ range .Site.Menus.en_menu }}
              <nav id="about" class="col-sm-2 footer-menu">
                <h2><a href="/pages/en/{{ .Url }}/">{{ .Name }}</a></h2>
              </nav>
            {{ end }}
          {{ end }}
        </div><!-- /.row -->
        <div id="footer-copyright" class="row">
          <div class="col-sm-12 sub-footer">
            <span class="legalese">© 2014 TEKy</span>
            <a class="legalese" href="#">Terms of Use</a>
            <a class="legalese" href="#">Privacy and Security Statement</a>
            <ul class="social">
              <li><a href="#" class="icon-pt-icon-facebook"></a></li>
              <li><a href="#" class="icon-pt-icon-twitter"></a></li>
              <li><a href="#" rel="publisher" class="icon-pt-icon-gplus"></a></li>
              <li><a href="#" class="icon-pt-icon-youtube"></a></li>
            </ul>
          </div>
        </div><!-- /.row -->
      </div><!-- /.col-sm-10 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /footer -->
