<div class="collapse navbar-collapse" id="main-navbar">
  <ul class="nav navbar-nav">
    <li>
      <a href="#">Lang</a>
      <ul class="dropdown-menu">
        {{ if .IsPage }}
        <li><a href="/pages/es/{{ .Slug }}/" title="esp">Español</a></li>
        <li><a href="/pages/en/{{ .Slug }}/" title="ing">English</a></li>
        {{ else }}
        <li><a href="/pages/es/home/" title="esp">Español</a></li>
        <li><a href="/pages/en/home/" title="ing">English</a></li>
        {{ end }}
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav secondary">
    {{ if eq (index .Params "lang") "es" }}
      {{ range .Site.Menus.es_menu }}
        <li><a href="/pages/es/{{ .Url }}/">{{ .Name }}</a></li>
      {{ end }}
    {{ else }}
      {{ range .Site.Menus.en_menu }}
        <li><a href="/pages/en/{{ .Url }}/">{{ .Name }}</a></li>
      {{ end }}
    {{ end }}
    <li class="search-form">
      <form role="search" method="get" class="search" action="#">
        <input id="main-search-query" type="text" name="q" value="" class="search-input search_field_main" maxlength="50" placeholder="Search TEKy">
        <input type="submit" class="search-trigger search_submit_main">
      </form>
    </li>
  </ul>
</div><!-- /.navbar-collapse -->
