<!DOCTYPE html>
<html class=" js canvas no-touch hashchange history rgba multiplebgs backgroundsize borderradius boxshadow opacity cssanimations cssgradients csstransforms csstransforms3d csstransitions fontface generatedcontent video svg inlinesvg svgclippaths no-retina">
<head>
	{{ partial "meta.html" . }}
	<title>{{ .Site.Title }}</title>
	<link rel="shortcut icon" href="http://www.teky.co/favicon.ico" sizes="16x16 32x32" type="image/x-icon">
	<link rel="stylesheet" href="/css/style.css?v=20140908161653" media="screen">
	<link rel="alternate" type="application/rss+xml" href="feed/index.xml" title="TEKy RSS">

	<script src="/js/modernizr-custom-2.8.2.min.js"></script>
	{{ "<!--[if lt IE 9]>" | safeHtml }}
	<script src="/js/respond.min.js"></script>
	<link rel="stylesheet" href="/css/ie.css?v=20140908161653" media="screen, projection" type="text/css">
	{{ "<![endif]-->" | safeHtml }}
	<!-- TODO: revisar si estos los necesitamos -->
	<link rel="canonical" href="{{ .Permalink }}">
	<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />
	<!-- END TODO -->
</head>
<body id="home" class="">
	<div id="site-wrapper">
	  {{ partial "header.html" . }}
		{{ partial "video.html" . }}
		<div id="home-middle-section" class="container">
    {{ if .IsNode }}
	    {{ range .Data.Pages }}
	      {{ if isset .Params "home" }}
	        {{ .Content }}
	      {{ end }}        
	    {{ end }}    
    {{ else }}
    	{{ .Content }}
    {{ end }}
		</div>
		<div id="home-blog-list"> <!-- hace falta para que pegue el css, por ahora lo dejo luego lo arreglo -->
		</div>
		{{ partial "footer.html" . }}
	</div>
	<script src="/js/compiled.min.js"></script>
</body>
</html>
