<div id="hero-wrapper" data-video-bg='["/videos/home.jpg","/videos/home.mp4","/videos/home.webm","/videos/home.ogv"]'>
  <div class="container">
    <div class="row block block-hero block-centered">
      <article class="col-md-8 col-md-offset-2">
        <h1><span class="nowrap">Lorem Ipsum</span> <span class="nowrap">dolor sit amet</span></h1>
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</blockquote>
      </article>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /#hero-wrapper -->
