<div id="hero-wrapper" data-video-bg='["/videos/home.jpg","/videos/home.mp4","/videos/home.webm","/videos/home.ogv"]'>
  <div class="container">
    <div class="row block block-hero block-centered">
      <article class="col-md-8 col-md-offset-2">
        <h1><span class="nowrap">Products built</span> <span class="nowrap">for a purpose</span></h1>
        <blockquote>Ten years ago, we set out to create products that would transform the way organizations use their data. Today, our products are deployed at the most critical government, commercial, and non-profit institutions in the world to solve problems we hadn’t even dreamed of back then.</blockquote>
        <p>
          <a class="button button-xlarge button-white" href="/about">This is our story</a>
        </p>
      </article>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /#hero-wrapper -->
